@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #191847;
    font-weight: 400;
    height: 100%;
}
.shipping{
    background-color: #191847;
    color:  white;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 112px;
    height: 29px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
section{
    align-items: center;
    margin-bottom: 32px;
}
h1 {
    
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}
body {
    background-color: aliceblue;
    height: 100%; 
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
main {
    background-color: white;
    width: 887px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 10px 15px 5px rgb(218, 228, 255);
    transition: all ease-in-out 0.3s;
}
main:hover{
    box-shadow: 0px 15px 20px 0px rgb(193, 221, 255);
}
.content {
    width: 723px;
    display: flex;
    margin-top: 82px;
    margin-bottom: 82px;
}
.leftContent{
    width: 249px;
    height: 223px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.rightContent{
    width: 442px;
    height: 466px;
    margin-left: 32px;
    p{
        margin-top: 0;
        font-weight: 400;
        color: #949494;
    }
}
.sale{
    text-decoration: line-through;
    font-size: 18px;
}
.vnd{
    font-weight: 700;
    display: flex;
    width: 193px;
    height: 72px;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
}
.addToCart{
    background-color: #4788E9;
    color: white;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    height: 59px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 0px #1C57EE;
    transition: all ease-in-out 0.3s;
    font-family: "Poppins", sans-serif;
}
.addToCart:hover{
    background-color: #1C57EE;
}
.lamp{
    width: 13px;
    height: 13px;
    margin-top: 4px;
    background-color: #00D98B;
    display: inline-block;
    border-radius: 50%;
}

.buttons{
    height: 64px;
    display: flex;
    
}
.addCart{
   font-size: 18px;
   border-color:  #949494;
   background-color: white;
   width: 213px;
   height: 64px;
   border-radius: 10px;
   cursor: pointer;
   margin-bottom: 16px;
   transition: box-shadow 0.3s ease;
   font-family: "Poppins", sans-serif;
   img{
         width: 32px;
         height: 32px;
         vertical-align: middle;
   }
   
}
.pcs{
    font-weight: 400;
}
.addCart:hover{
    box-shadow: 0px 0px 10px 0px #bababa;
}
.addCart + .addCart {
    margin-left: 16px;
}